{{#each containers}}
  <article>
    <button class="{{statusClass this.status}}">{{this.btnName}}</button>
    <div class="container">
      <h5 class="title">Name: {{this.name}}</h5>
      <p class="description">Status: {{this.status}}</p>
      <p class="description">State: {{this.state}}</p>
      <p class="description">Created: {{this.created}}</p>
    </div>
  </article>
{{/each}}